html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.body{
    padding: auto 20px;
    background-color: #E7E8D1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #212427;
}

@media(max-width: 600px) {
    .body {
       overflow-wrap: break-word;
    }
}

.header {
    font-family: 'Meddon', cursive;
    font-size: 100px;
    margin-top: 20px;
}

@media(max-width: 600px) {
    .header {
        font-size: 50px;
    }
}


.footer {
    font-family: 'Mulish', sans-serif;
    margin-top: 80px;
    margin-bottom: 20px;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
